body {
    font-family: 'open sans', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
}

/* nav start */
nav {
    display: flex;
    background-color: #111;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
}

span {
    color: beige;
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav li {
    float: top;
}

nav li a {
    display: flex;
    color: beige;
    text-align: right;
    padding: 10px 20px;
    text-decoration: none;
}

.icon {
    display: none;
}

nav li a:hover {
    background-color: #222;
}

@media screen and (max-width: 768px) {
    nav .icon {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    color: beige;
    height: 50px;
    }

    nav li a {
        display: none;
    }
}

/* nav end */

/* header start */
header {
    padding: 100px 0;
    background-color: #222;
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* header end */

/* main start */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
}

h2 {
    margin: 16px;
    font-size: 1.5em;
    font-weight: 600;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#section-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 16px 0;
}

#section-photo figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    gap: 16px;
    margin: 0;
}

#section-photo figure img {
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    #section-photo figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    #section-photo figure {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    gap: 16px;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    article figure img {
        height: 100%;
        width: 100%;
    }
}

#section-article {
    width: 100%;
    background-color: #222;
    color: beige;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 16px;
}

article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article figure img {
    height: 400px;
    width: fit-content;
    border-radius: 15px;
}

#section-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 80vw;
    height: 50vh;
    border-radius: 30px;
}

form {
    max-width: 480px;
}

fieldset {
    border-radius: 15px;
}

.fullname input {
    width: 100%;
    height: 35px;
    border-radius: 10px;
}

.readyorno {
    display: flex;
    justify-content: center;
}

textarea {
    width: 100%;
    border-radius: 10px;
}

button {
    margin: 30px 0;
    width: 100%;
    background-color: #222;
    color: beige;
    font-size: 2em;
    height: 50px;
    border-radius: 10px;
}

button :hover {
    background-color: #111;
    cursor: pointer;
}
/* main end */

/* footer start */
footer p {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: bottom;
}
/* footer end */